:root {
  --colorMain: #4EBCFF;
  --colorLight: #93daff;
  --colorAccent: #ceecff;
}

/*body {
  height: 1000px;
  background: linear-gradient(to bottom, #243B55, #141E30);
  background: linear-gradient(rgba(20, 30, 48, 0.9), rgba(36, 59, 85, 0.95)), url("../images/bg.jpg") no-repeat center center/cover;
  position: relative;
  overflow-x: hidden;
  z-index: 0;
  color: #fff;
}*/

.background-lyrics {
  color: #fff;
  line-height: 1.4;
  position: absolute;
  font-family: 'Microsoft YaHei','Lantinghei SC','Open Sans',Arial,'Hiragino Sans GB','STHeiti','WenQuanYi Micro Hei','SimSun',sans-serif;
  font-size: 54.5px;
  font-weight: 500;
  width: 131%;
  z-index: -1;
  top: -10%;
  left: -10%;
  transform: rotate(-8deg);
  opacity: 0.03;
}

.container-tile .content {
  margin: 0px auto;
  min-height: 500px;
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 100px;
  padding-top: 20px;
}

.container-lyrics .content {
  margin: 2em auto 5em;
  padding: 20px;
  min-height: 100vh;
  max-width: 800px;
}

h1 {
  text-align: center;
  min-width: 100%;
  flex: 1;
  font: 30px 'Microsoft YaHei','Lantinghei SC','Open Sans',Arial,'Hiragino Sans GB','STHeiti','WenQuanYi Micro Hei','SimSun',sans-serif;
  margin: 40px 0 15px;
}

.tile ul {
  display: none;
}

.tile {
  width: 250px;
  height: 250px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: transform .1s;
  position: relative;
  margin: 5px;
  cursor: pointer;
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  opacity: 0.7;
}

.tile:hover {
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
  opacity: 0.9;
}

.tile:nth-child(1) {
  background:url(../images/pic0.png) no-repeat ;
}
.tile:nth-child(2) {
  background:url(../images/dian1.jpg) no-repeat ;
}

.tile:nth-child(3) {
  background:url(../images/pic5.png) no-repeat ;
}

.tile:nth-child(4) {
  background:url(../images/pic_01.jpg) no-repeat ;
  background-size:100% ;
}

.tile:nth-child(5) {
  background:url(../images/xbk.jpg) no-repeat ;
}

.tile:nth-child(6) {
  background:url(../images/pic_1_01.jpg) no-repeat ;
  background-size:100% ;
}

.tile .title {
  font-family: 'Microsoft YaHei','Lantinghei SC','Open Sans',Arial,'Hiragino Sans GB','STHeiti','WenQuanYi Micro Hei','SimSun',sans-serif;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: .5px;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 35px;
  line-height: 1.1;
}

.tile .lines {
  position: absolute;
  width: 85%;
  height: 85%;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 3px solid #fff;
  transform: scale3d(0.9, 0.9, 1);
  opacity: 0;
  transition: transform 0.3s, opacity 0.3s;
}

.tile:hover .lines {
  opacity: 1;
  transform: scale3d(1, 1, 1);
}

.container-master {
  position: relative;
  margin-top: 30px;
}

.container-lyrics, .container-tile {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  transition: .5s ease;
}

.container-tile {
  left: 0;
}

.container-lyrics {
  left: 100%;
}

.back {
  width: 30px;
  height: 35px;
  float: left;
  margin: 18px 0;
  position: relative;
  cursor: pointer;
  z-index: 2;
  transition: all 600ms cubic-bezier(0.77, 0, 0.175, 1);
}
.back:before {
  content: '';
  height: 1px;
  width: 15px;
  background: #777;
  position: absolute;
  transform: rotate(-45deg);
  top: 13px;
  left: 7px;
}
.back:after {
  content: '';
  height: 1px;
  width: 15px;
  background: #777;
  position: absolute;
  transform: rotate(-135deg);
  top: 23px;
  left: 7px;
}
.back:hover {
  background: rgba(0, 0, 0, 0.2);
}

.lyrics-title {
  font-family: 'Microsoft YaHei','Lantinghei SC','Open Sans',Arial,'Hiragino Sans GB','STHeiti','WenQuanYi Micro Hei','SimSun',sans-serif;
  font-size: 45px;
  letter-spacing: 1px;
  position: relative;
  text-align: right;
  margin: 0 0 25px;
  transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
  top: -250px;
}

.lyrics-card {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin: 20px 0;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 25px 30px;
  font: 18px/1.5 'Microsoft YaHei','Lantinghei SC','Open Sans',Arial,'Hiragino Sans GB','STHeiti','WenQuanYi Micro Hei','SimSun',sans-serif;
  top: 20px;
  position: relative;
  opacity: 0;
}

.container-master.toggled .container-tile {
  left: 100%;
}
.container-master.toggled .container-lyrics {
  left: 0;
}
.container-master.toggled .lyrics-title {
  top: 0;
}

footer {
  margin: 3em auto;
}
footer a {
  text-decoration: none;
  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #111;
  color: #f8f8f8;
  margin: 5px;
}
footer a:hover {
  background: #222;
}
footer a .icons {
  margin-top: 12px;
  display: inline-block;
  font-size: 20px;
}

.social-icons {
  position: fixed;
  top: 0;
  right: 0;
  margin: 10px;
  text-align: center;
}
.social-icons a {
  text-decoration: none;
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #111;
  color: #f8f8f8;
  margin: 5px;
}
.social-icons a:hover {
  background: #222;
}
.social-icons a .icons {
  margin-top: 12px;
  display: inline-block;
  font-size: 20px;
}
